<mat-card>
  <mat-card-header>
    <mat-card-title>My Todo</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #myForm="ngForm" (submit)="addTodo()">
      <div fxFlex="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
        <mat-form-field fxFlex="4 1 auto">
          <input matInput placeholder="할일을 입력하세요" [(ngModel)]="newTodo" required
                 #name="ngModel" name="todo">
          <mat-hint style="color: red">{{!name.value ? '할일을 입력하세요' : ''}}</mat-hint>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" fxFlex="1 1 auto"
                [disabled]="!myForm.form.valid">추가</button>
      </div>
    </form>

    <table>
      <thead>
      <tr>
        <th>완료</th>
        <th>todo</th>
        <th>생성일</th>
        <th>수정일</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      <ng-template  ngFor let-todo [ngForOf]="todoList" let-idx="index">
        <tr [@flyInOut]="'in'" *ngIf="!todo.isEdited">
          <td>{{todo.isFinished ? '완료' : '미완료'}}</td>
          <td>{{todo.todo}}</td>
          <td>{{todo.created}}</td>
          <td>{{todo.updated}}</td>
          <td>
            <button mat-raised-button color="accent" (click)="update(todo)">수정</button>
            <button mat-raised-button color="warn">삭제</button>
          </td>
        </tr>
        <tr *ngIf="todo.isEdited">
          <td>
            <input type="checkbox" [(ngModel)]="todo.isFinished">
          </td>
          <td>
            <input type="text" [(ngModel)]="todo.todo">
          </td>
          <td>{{todo.created}}</td>
          <td>{{todo.updated}}</td>
          <td>
            <button mat-raised-button color="accent" (click)="modify(todo)">저장</button>
            <button mat-raised-button color="warn" (click)="restore(todo)">취소</button>
          </td>
        </tr>
      </ng-template>

      </tbody>
    </table>
  </mat-card-content>
</mat-card>
