<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <span>Angular</span>
  <!--fxFlex = grow:비율 slink:브라우저resize시에 변경됨 width-->
  <span fxFlex="1 1 auto"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item routerLink="/">
    <mat-icon>dialpad</mat-icon>
    <span>home</span>
  </button>
  <button mat-menu-item routerLink="/jquery">
    <mat-icon>voicemail</mat-icon>
    <span>jquery</span>
  </button>
  <button mat-menu-item routerLink="/angular">
    <mat-icon>notifications_off</mat-icon>
    <span>angular</span>
  </button>
</mat-menu>

<div class="container">
  <router-outlet></router-outlet>
</div
>
